
.navbar {

}
  
.typing_text {
    place-items: center;
    width: 210px;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font: 1.3rem Inconsolata, monospace;
    font-size: 120%;
}
  
@keyframes typing {
    from {
      width: 0;
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}
